/* style.css
 * This file provides css styles.
 */
.nxtBtn,.prevBtn{
	
	
    background-color:Transparent;
   /* border: black;*/
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font :25px;
    width: 80px;
   
    
    

}

.submit{
	/*position: center;*/
	top: 470px;
}
.nxtBtn {
	position: absolute;
	/*float: right;*/
	/*top: 430px;
	left: 1500px;*/
	 top: 80%;
left: 94%;
}
.prevBtn {
	position: absolute;
	/*float: right;*/
	/*top: 430px;
	right: 970px;*/
	top: 80%;
right: 58%
}
button {
	padding: 0;
border: none;
   background-color: #0F0347;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
 
    width: 150px;
}
.clearable{
	
	/*width: 900px;
	height:300px;*/
	width: 60%;
	height:50%;
	
}
body {
    background-image: url("DST_watermark.png");
    background-repeat: repeat;
} 
body,html {
	background-color: #3b4b54;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}


p.content {
    margin-left: 1cm;
    white-space: nowrap;
}

textarea {    
    position: absolute;
    width: 80%;
    height: 60%;
    background-image:url(DSTWATERMARKs.jpg);

  /* top: 125px;*/
 top: 20%;
   
}

@media (max-width: 600px){
	.title, .tips, section{
		width: 100%;
	}
}

/* alignment */
.title, .tips, section {
	margin: 0 auto;
}

/* foreground color */
.title, .tips {
	xbackground-color: #2dcc70;
}



/* positions */
header {
	padding-top: 20px;
	font-weight: bolder;
	font-size: 1.3em;
}
footer {
	position: relative;
}
.title, .tips {
	height: 30px;
	padding-top: 10px;
	position: relative;
}
.title {
	border-radius: 40px 40px 0 0;
}
.tips {
	border-radius: 0 0 40px 40px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}
.content {
	padding: 5px;
	width: 60%;
}
.contentName {
	padding: 5px;
	width: 30%;
	font-weight:bold;
}
.contentAction {
	padding: 5px;
	width: 10%;
	font-weight:bold;
}

.records textarea {
	height: 2em;
	font-size: 1em;
	resize: none;
	width: 200%;
	border: none;
	background-color: transparent;
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: .9em;
}
.link {
	background:none;
	border:none; 
	font-size:20px;
	}
	

/*	#watermark
{
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:white;
}*/
	
/*.watermark {
    opacity: 0.5;
    color: transparent;
    position: fixed;
    top: auto;
    left: 80%;
}*/

#myProgress {
    position: relative;
    width: 20%;
    height: 30px;
    background-color: grey;
    float: right;
}
#myBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: green;
}  

img {
    /*margin: 5px;
    float: left;*/
 /*   width:450px;*/
    width: 90%;
   /* height:100px;*/
}


/* buttons */
.detailBtn {
	position: absolute;
	left: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.addBtn {
  position: absolute;
  right: 20px;
  top: 0px;
  background: none;
  border: none;
  cursor: pointer;
}
.detailBtn img{
	width: 20px;
	height: 20px;
}
.deleteBtn{
  background-image: url("../images/sprite.png");
  background-position: -5px -588px;
  width: 16px;
  height: 16px;
    display:inline-block;
}

tr:hover .deleteBtn {
	
	cursor: pointer;
}


.tableRows{
	border-bottom: solid thin;
	border-color:#26343f;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 35%;
	height: 100%;
	margin : auto
}
/*#watermark 
{
	opacity: 0.3;
    color:lightgrey;
     background-repeat: repeat;
    font-size:80px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}
 #background1 {
    position:absolute;
    z-index:0;
 background-repeat: repeat;
 background:transparent;
    display:block;
    min-height:100%; 
    min-width:50%;
    color:yellow;
}*/

/*.rightHalf	#watermark 
{
	opacity: 0.3;
    color:lightgrey;
     background-repeat: repeat;
    font-size:80px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}
.righthalf #background1 {
    position:absolute;
    z-index:0;
 background-repeat: repeat;
 background:transparent;
    display:block;
    min-height:100%; 
    min-width:50%;
    color:yellow;
}*/

.rightHalf {
	
	

	float: right;
	width: 65%;
	background-color: #313f4a;
	height: 100%;
	overflow: auto;
}

.fieldname {
	text-align: right;
	border-right: 1px solid #fff;
}


#appinfo {
	border-top: 1px solid #fff;
}
#appinfo td {
	padding: 5px;
	height: 50;
	font-size: small;
	
}



.errorMsg {
	color: red;
	font-weight:normal;
}
.newappIcon {
  padding-top: 10%;
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  padding-bottom: 2em;
}

h1 {
  font-weight: normal;
  font-size: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  text-align: center;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #00aed1;
}