<!DOCTYPE html>
<html>
<head>
	<title>Q&A</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<!--<body>
	<div class="leftHalf">
<img class="newappIcon" src="images/newapp-icon.png">
				<h1>
					Welcome to <span class="blue"> DST </span>
				</h1>
        <p class="description">Get started by reading our <a href="https://www.ng.bluemix.net/docs/starters/node-cloudant/index.html">documentation</a> or use the Start Coding guide under your app in your dashboard.</p>
	</div>
	<!--<div class = "rightHalf">-->
	<header>
		<h1>Thank you<h1>
		<!--<button class='' onclick="toggleAppInfo()" title='Application Information'>-->
<!--				<img height="15px" width="15px" src='images/info.png' alt='detail'/>-->		
		<!--</button>
		</div>-->
		<body onLoad="if(history.length>0)history.go(+1)"> 
	</header>	
	